.form-group
	label(for="imageCover") Immagine
	input(type="text", id="imageCover", name="imageCover" )
.form-group
	label(for="title") Titolo
	input(type="text", id="title", name="title", required)
.form-group
	label(for="category") Categoria
	select(id="category", name="category", required)
		option(value="literature", selected) Letteratura
		option(value="politics", selected) Politica
		option(value="culture", selected) Cultura
		option(value="technology", selected) Tecnologia
.form-group
	label(for="article") Scrivi l'articolo
	textarea(id="article", name="article", required)
.form-group
	label(for="summary") Scrivi un riassunto 
	textarea(id="summary", name="summary", required)
button(type="submit") Save
a(href=`/articles/${article.category}/:${article.slug}`)  Delete
