


.form-group
	label(for="title") Email Address
	input(type="text", id="email", name="email", required, placeholder='you@example.com')

.form-group
	label(for="title") Password 
	input(type="text", id="password", name="password", required, placeholder = "********")

	button(type="submit") Save
