extends base
block content
    section.Article.flex
        .contentInnerWrapper.flex
            .mainContent.flex
                .containerArticleCollection.flex.flex-row
                    .containerPictureArticle
                    .containerText
                        h1=article.title 
                        p!=article.sanitizedHtml
                    - if(user.role === 'admin')
                        button.deleteArticle(type='button')
                            | Delete
                        a(href=`/protected/edit/${article.slug}`) Edit
