
extends base
block content
	section.mainPageSection.flex
	.contentInnerWrapper.flex
		.login-form
			h2.heading-secondary.ma-bt-lg Log into your account
			form.form.forgotPassword
				.form__group
				label.form__label(for='email') Email address
				input#emailToForget.form__input(type='email', placeholder='you@example.com', required)
				button.btn.btn--green send email 
