header
  .headerWrapper
    .headerBorder.flex
      .headerContent.flex
        .contentWrapper.flex
          a(href="/")
            .logo-image
          .navWrapper
            nav
              ul.garamond
                span.nav__items  About Us 
                span.nav__items  Literature 
                span.nav__items  Politics
                span.nav__items  Culture 
