header
  .headerWrapper.flex
        .contentWrapperLogo
          a(href="/")
            .logo-image
        .contentWrapperNav.flex
          .navWrapper
            nav
              ul.garamond
                span.nav__items About Us
                span.nav__items Literature
                span.nav__items Politics
                span.nav__items Culture
        
        .form-groupHeader.buttonsAccept.flex.flex-column
          -if(user)
            button(class='buttonLogout') 
              a.logoutButton Logout
