header
  .headerWrapper
    .headerBorder.flex
      .headerContent.flex
        .contentWrapper.flex
          a(href="/")
            .logo-image
          .navWrapper
            nav
              ul.garamond
                span.nav__items: a(href="bio.html") About Us 
                span.nav__items: a(href="projects.html") Literature 
                span.nav__items: a(href="events.html") Politics
                span.nav__items: a(href="events.html") Culture 
