extends base
block content
	section.mainPageSection.flex.flex-column
		h1.titleSubmitArticle LOGIN
		.login-form
			form.form--login
				.form-group
					label.form__label(for='email') Email address
					input#email.form__input(type='email', placeholder='you@example.com', required)
				.form-group.ma-bt-md
					label.form__label(for='password') Password
					input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
				.form-group.buttonsAccept.flex.flex-column
					button(class='buttonArticle', type='submit') Login
					a(id='deleteLink', href="/protected/forgotPassword") forgot password 
