
extends base
block content
	section.mainPageSection.flex.flex-column
		h1.titleSubmitArticle SIGNUP
		.contentInnerWrapper.flex
				form(action="/users/signup", method="POST") 
					include _userForm
							
