/* reset */

:root {
  --backgroundMain: #f7efe8;
  --fontPrimaryColor: #333333;
  --fontSizeHtml: 10px;
  --fontSizeH1Homepage-1300: 5rem;
  --fontSizeH1Article-1300: 4rem;
  --lineHeight-1300: 1.5;
  --captions-subtitles-1300: 1.2rem;
  --fontSizeH2Subheading-1300: 2rem;
  --lineHeightTitle-1300: 1.3;
  --fontSizeP-1300: 2rem;
  --navFontSize-1300: 2.2rem;
  --borderRadius-1300: 1rem;
  --marginPageSection-1300: 20rem;
  --column8-gap-column-1300: 6.63rem;
  --column8-gap-row-1300: 0.5rem;
  --column8-column-1300: 10.4rem;
  --column6-column-1300: 20rem;
  --column6-row-1300: 20rem;
  --column6-gap-column-1300: 2rem;
  --column6-gap-row-1300: 1.5rem;
}
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}
body {
  line-height: 1.5;
  min-height: 100vh;
}
/* make images easy */

img,
picture {
  max-width: 100%;
  display: block;
}
/* make forms easier */

input,
button,
textarea,
select {
  font: inherit;
}
html {
  font-size: var(--fontSizeHtml);
  background-color: var(--backgroundMain);
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: normal;
}
::selection {
  background: #ffe135;
  color: inherit;
}
/* remove animationfor people who've turned them off */
@media (prefers-reduce-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01 ms !important;
    scroll-behavior: auto !important;
  }
}
/* _____________________________ */
/*       UTILITY CLASSES         */
/* _____________________________ */
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #a4b9f3;
}
.garamond {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.grid {
  display: grid;
}
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.container {
  padding-inline: 2em;
  max-width: 80rem;
  margin-inline: auto;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.sticky {
  position: fixed;
  background-color: #f7efe8;
  z-index: 5;
  padding: 3% 12.5% 3% 12.5%;
  top: -3%;
}
/*****************/
/* LAYOUT DESIGN *
/****************/
header {
  height: fit-content;
  grid-column: 3/ -3;
  width: 100%;
}
.col-8-1300 {
  grid-template-columns: repeat(8, 5rem);
  grid-template-rows: repeat(3, min-content);
  column-gap: 7rem;
  row-gap: var(--column8-gap-row-1300);
}
.col-6-row-3-1300 {
  display: grid;
  grid-template-columns: repeat(6, 10.6%);
  grid-template-rows: repeat(3, minmax(0, min-content)) 1fr;
  column-gap: 7.28%;
  row-gap: var(--column6-gap-row-1300);
  padding-top: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
a {
  text-decoration: none;
  color: unset;
}
.Home{
  display: flex;
}
.mainContent a {
  text-decoration: none;
  color: unset;
}
.mainContent a h1:hover {
  text-decoration: underline;
}
.mainContent a h2:hover {
  text-decoration: underline;
}
.col-4 {
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3rem;
}
.col-12 {
  grid-template-columns:
    minmax(min-content, 1fr) repeat(auto-fit, minmax(10px, 1fr))
    minmax(min-content, 1fr);
}

.container {
  width: 100%;
  height: 10rem;
}
h1 {
  font-size: var(---fontSizeH1Homepage-1300);
  /* color: #ba2525; */
  font-weight: lighter;
}
h2 {
  font-size: 2rem;
  font-weight: 550;
}
p {
  font-size: var(--fontSizeP-bigScreen);
  margin-bottom: 1.5rem;
}
/* CSS FOR WEBSITE */

.siteWrapper {
  min-height: 100vh;
  column-gap: 2rem;
}

.articleSections {
  height: inherit;
}

/*----------------/
/*------NAV------*/
/*-------------- */

header {
  z-index: 10;
}
.headerWrapper {
  padding-top: 3%;
  padding-bottom: 3%;
  justify-content: space-evenly;
  width: 100%;
  display: flex;
  /* border-bottom: 0.1rem solid rgba(0, 0, 0, 0.5) */
}
.headerBorder {
  align-items: center;
  width: 100%;
}
.headerContent {
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.contentWrapperNav {
  align-self: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}
.contentWrapperLogo {
  display: inline-flex;
  align-self: center;
}
ul {
  list-style-type: none; /* Rimuove il pallino */
  padding: 0; /* Opzionale: rimuove il padding sinistro */
  margin: 0; /* Opzionale: rimuove il margine */
}

.nav__items {
  font-size: 1.7rem;
  font-style: italic;
  color: #333;
  align-self: center;
  background-color: #f7efe8;
  z-index: 3;
  padding-right: 1rem;
  padding-left: 1rem;
  position: relative;
}
.nav__items a:hover {
  text-decoration: underline;
  color: inherit;
}
.prettyLine {
  position: absolute;
  height: 0.1rem;
  background-color:rgb(247, 90, 33);
  width: 0%;
  top: 50%;
  opacity: 0.5;
}
/* .nav__items:after{
content: "";
  height: .2rem;
  background-color: #ba2525;
  position: absolute;
  width: 2vw;
  margin-left: 2rem;
  top: 50%;
} */
.logo-image {
  width: 100%;
  height: 2rem;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  align-items: center;
  z-index: 6;
  position: relative;
  background-color: #f7efe8;
  justify-content: center;
}
.altroIcon {
  height: 150%;
}
ul {
  padding: 0;
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-evenly;
  flex-direction: row;
}
.navWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
nav {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}
.nav__link {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
}
.isActivated{
  display: flex;
  flex-direction: row;
  align-items: center;
  color:#ba2525;
}
.isActivated::before{
content: "";
background-image: url("/img/fleuronLateralLeft-01.png");
background-size: cover;
background-position: center;
width: 45px;
height: 18px;
opacity: 0.5;
margin-right: 1rem;

}
.isActivated::after{

  content: "";
  background-image: url("/img/fleuronLateralLeft-01.png");
  background-size: cover;
  background-position: center;
  width: 45px;
  height: 18px;
  opacity: 0.5;
  margin-left: 1rem;
  transform: rotate3d(0, 1, 0, -180deg);
}
/* .nav__link::before {
  content: "";
  background-image: url("/img/fleuronLateralLeft-01.png");
  background-size: cover;
  background-position: center;
  width: 45px;
  height: 18px;
  opacity: 0.5;
  margin-right: 1rem;
} */

.form-groupHeader {
  top: 4.5rem;
  position: absolute;
  margin-left: 75%;
  width: fit-content;
  margin-right: 10rem;
}
.buttonSignUp,
.buttonLogout {
  height: 4rem;
  width: 7rem;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 1.7rem;
}

/*------------------*/
/* GLOBAL CLASSES */
/*----------------*/
section {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 100vw;
}

.contentInnerWrapper {
  width: 90%;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  padding-top: 5rem;
}
/* .mainPageSection {
  margin-top: 5%;
} */
/*--------------------------*/
/*    MAIN PAGE ARTICLE     */
/*--------------------------*/
.mainContent {
  border-width: 120%;
  display: flex;
  flex-direction: column;
}
/* .mainContent:after {
  content: " ";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.15);
  display: block;
  left: 0;
  bottom: -20px;
  right: auto;
  top: auto;
  height: 0.1rem;
  width: 100%;
} */
.col-8-1300 {
  grid-template-columns: 0px repeat(3, minmax(0, 1fr)) 0px;
  grid-template-rows: 1fr repeat(4, min-content);
  column-gap: 10px;
}
.headArticle {
  grid-column: 2/6;
  grid-row: 1;
  margin-bottom: calc(0.8rem + 1vh);
}
.sideArticle {
  justify-content: space-between;
}
.containerText {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.head > .containerText {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.containerTextS2 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.containerText,
.containerTextS2 > h2 {
  align-self: start;
}
.headArticle {
  width: 100%;
}
.homePageParagraph {
  font-size: calc(0.8rem + 1vh);
  font-weight: lighter;
  line-height: 2.5rem;
  margin-top: calc(0.8rem + 1vh);
  color: #444;
}
.containerPicture {
  width: 50%;
  margin-bottom: 1rem;
  height: fit-content;
}

.pictureInsideText {
  padding: 30%;
  position: relative;
}
.pictureInsideText > * {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.pictureInsideLateral {
  padding: 30%;
  position: relative;
}
.pictureInsideLateral > * {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
/*--------------------------*/
/*    SECOND SECTION START   */
/*--------------------------*/
.SecondPageArticleLists {
  justify-content: center;
  align-items: center;
  margin-top: 5rem !important;
  width: 90%;
}
.titleArticleCollection {
  align-self: start !important;
}
.marginControl {
  /* align-items: center !important; */
  width: 100%;
  /* border-top: 0.1rem solid; */
  padding-top: 5rem;
  /* justify-content: center !important; */
  flex-direction: column;
}
.sideArticle {
  display: flex;
}
.containerArticleCollection {
  position: relative;
}
aside {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 5rem;
}
.sideArticle:nth-of-type(1):before {
  content: " ";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.15);
  display: block;
  left: 0;
  bottom: -20px;
  right: auto;
  top: auto;
  height: 1px;
  width: 100%;
}
/* .sideArticle:nth-of-type(3):before {
  content: " ";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.15);
  display: block;
  left: 0;
  bottom: -20px;
  right: auto;
  top: auto;
  height: 1px;
  width: 100%;
} */
.titleSections {
  font-size: 5rem;
  font-weight: bold;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
  color: #ba2525;
}
.articleCollectionCentered {
  width: 100%;
}

.articleCollectionCentered a {
  color: unset;
  text-decoration: none;
  margin-bottom: 3rem;
  height: 100%;
  position: relative;
}
.articleCollectionCentered a h2:hover {
  text-decoration: underline;
}
.containerPictureSecondSectionHome {
  width: 100%;
  height: 100%;
}
.pictureInsideSecondSection {
  position: relative;
  padding: 30%;
}
.pictureInsideSecondSection > * {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

/*-------------------------*/
/*         FOOTER          */
/*-------------------------*/

footer {
  height: 25vh;
  font-size: 2rem;
  background-color: #333;
  color: #fff;
}
.footer-wrapper {
  justify-content: center;
  align-items: center;
  height: 100%;
}
.content-footer {
  height: 10rem;
  flex-direction: column;
  width: 80%;
  padding-left: 10rem;
  text-decoration: underline;
}
/*-----------------------*/
/*       FORMS           */
/*-----------------------*/
.form-group {
  margin-bottom: 2rem;
}
.titleSubmitArticle {
  font-size: 4rem;
  font-weight: 450;
  margin-top: 2rem;
  line-height: 4rem;
  hyphens: auto;
}
input {
  width: 100%;
  height: calc(var(--fontSizeP-1300)+var(--lineHeight-1300));
  font-size: var(--fontSizeP-1300);
  border-radius: var(--borderRadius-1300);
}
#newArticle {
  width: 100%;
}
.editArticle {
  width: 100%;
}
label {
  font-size: var(--fontSizeP-1300);
  font-weight: bold;
}
select {
  height: calc(var(--fontSizeP-1300)+var(--lineHeight-1300));
  font-size: var(--fontSizeP-1300);
  display: block;
  width: fit-content;
  background-color: white;
  border-radius: var(--borderRadius-1300);
}
input:focus,
#article:focus,
#summary:focus {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  outline: black;
}
option:hover {
  background-color: grey;
}
#article {
  width: 100%;
  height: 30rem;
  overflow: scroll;
  font-size: var(--fontSizeP-1300);
  border-radius: 1rem;
}
#summary {
  width: 100%;
  height: 10rem;
  font-size: var(--fontSizeP-1300);
  border-radius: 1rem;
}
.buttonArticle {
  display: block;
  font-size: var(--fontSizeP-1300);
  height: calc(var(--fontSizeP-1300)+var(--lineHeight-1300));
}
.buttonsAccept,
.buttonsAcceptArticle {
  align-items: center;
}
.buttonsAcceptArticle {
  grid-column: 2/-3;
  grid-row: 8;
}
.buttonArticle {
  width: 20rem;
  background-color: black;
  color: white;
  margin-bottom: 1rem;
  text-align: center;
}
#deleteLink {
  font-size: var(--fontSizeP-1300);
  border: solid;
  border-width: 0.2rem;
  border-color: #ba2525;
  width: 20rem;
  text-align: center;
  background-color: white;
}
/*-----------------------*/
/*       ARTICLES        */
/*-----------------------*/
.Articles{
  display: flex;
  flex-direction: column;
}
.contentArticleWrapper {
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  /* border-top: .2rem solid rgba(0, 0, 0, 0.2); */
  /*   margin-top: 20rem; */
}
.contentArticleWrapper:after {
  content: "";
  position: absolute;
  top: 0;
  height: 0.1rem;
  width: 65%;
  color: rgba(0, 0, 0, 0.2);
}
.containerTitleArticle {
  margin-top: 1rem;
  grid-column: 1/-1;
  grid-row: 2;
  align-self: center;
}

.containerPictureArticle {
  grid-column: 1/-1;
  grid-row: 3 / span 2;
  width: 100%;
}
.pictureInsideArticle {
  position: relative;
  padding: 30%;
}
.pictureInsideArticle > * {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.containerCategoryArticle {
  grid-row: 1;
  grid-column: 1/-1;
  font-size: 1.7rem;
  font-weight: bold;
  color: #ba2525;
  height: fit-content;
  border-bottom: 0.1rem solid;
  width: 80%;
}
.containerAuthorArticle {
  grid-row: 5;
  grid-column: 1/-1;
}
.articleCreatedAt {
  font-size: var(--captions-subtitles-1300);
}
#titleArticle {
  font-size: 3.3rem;
  color: black;
  font-weight: 500;
  line-height: var(--lineHeightTitle-1300);
}
#subheadingArticle {
  font-size: var(--fontSizeH2Subheading-1300);
  line-height: var(--lineHeight-1300);
  color: #666666;
}
.containerArticle {
  grid-row: 6;
  grid-column: 1/ -1;
  border-left: 0.1rem solid;
  padding-left: 2rem;

  font-size: 2rem;
  margin-bottom: 5rem;
}
.paragraphArticle {
  margin-bottom: 1.5rem;
  hyphens: auto;
  line-height: 2.8rem;
}
.paragraphArticle > p:first-child::first-letter {
  font-size: 9.5rem;
  float: left;
  margin-right: 1rem;
  position: relative;
  color: #ba2525;
  padding-top: 0.9rem;
}
.paragraphArticle > h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: #ba2525;
}
.authorArticleName {
  font-size: 1.7rem;
  font-weight: bold;
  color: #ba2525;
  border-bottom: 0.1rem solid;
  width: 80%;
}
/*-----------------------*/
/*       LOGIN FORM        */
/*-----------------------*/

.login-form {
  margin: 0 auto;
  max-width: 55rem;
  background-color: #fff;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  padding: 5rem 7rem;
  border-radius: 5px;
  z-index: 10;
}

/*---------------------------------------------------------*/
/*////////////---------MEDIA QUERIES---------/////////////*/
/*-------------------------------------------------------*/

/*---------------- 480 ---------------*/
@media (min-width: 480px) {
  .col-8-1300 {
    min-width: 480px;
    grid-template-columns: 0px repeat(3, minmax(0, 1fr)) 0px;
    grid-template-rows: 1fr repeat(4, min-content);
    column-gap: 10px;
  }
  .headArticle {
    grid-column: 2/6;
    grid-row: 1;
  }
  /* .sideArticle:nth-of-type(1) {
    grid-row: 2;
    grid-column: 2/6;
  }
  .sideArticle:nth-of-type(2) {
    grid-row: 3;
    grid-column: 2/6;
  }
  .sideArticle:nth-of-type(3) {
    grid-row: 4;
    grid-column: 2/6;
  }
  .sideArticle:nth-of-type(4) {
    grid-row: 5;
    grid-column: 2/6;
  } */
  .sideArticle {
    display: flex;
    flex-direction: row;
  }
  /* ARTICLES */
  .containerTitleArticle {
    grid-row: 1;
    grid-column: 1/-1;
  }
  .col-6-row-3-1300 {
    min-width: 480px;
    display: grid;
    grid-template-columns: repeat(6, 4.8rem);
    grid-template-rows: repeat(3, auto) 1fr;
    column-gap: 3.84rem;
    row-gap: var(--column6-gap-row-1300);
  }
  .containerTitleArticle {
    grid-row: 2;
  }
  .containerArticle {
    grid-column: 1/ -1;
    grid-row: 6;
  }
  .containerAuthorArticle {
    grid-row: 5;
    grid-column: 1/ -1;
  }
  .containerCategoryArticle {
    grid-row: 1;
    grid-column: 1/-1;
  }
  .containerPictureArticle {
    grid-column: 1/-1;
    grid-row: 3 / span 2;
  }
  .buttonsAcceptArticle {
    grid-column: 2/-3;
    grid-row: 8;
  }
}

/*--------------- 740px ------------------*/
@media (min-width: 800px) {
  aside {
    display: unset;
  }
  .logo-image {
    width: 20rem;
  }
  .form-groupHeader {
    margin-left: 90%;
  }
  .mainContent {
    display: grid;
  }
  .prettyLine {
    width: 60%;
  }
  .mainContent > * {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .contentInnerWrapper {
    width: 100%;
  }
  .col-8-1300 {
    min-width: 740px;
    grid-template-columns: repeat(8, 5.5rem);
    grid-template-rows: repeat(2, auto);
    column-gap: 5rem;
  }
  .altroIcon {
    height: 200%;
  }
  .borderLeftColumn {
    grid-column: 5;
    grid-row: 1/ 3;
    height: 100%;
    border-right: 0.1rem solid rgba(0, 0, 0, 0.4);
    /* padding-right: 5rem; */
    margin-right: -2.8rem;
  }

  .headArticle {
    grid-column: 1/-4 !important;
    grid-row: 1/ 3 !important;
    margin-bottom: unset;
  }

  .articleUno {
    grid-column: 6/ -1;
    grid-row: 1;
  }
  .articleDue {
    grid-column: 6/ -1;
    grid-row: 2;
  }
  .titleSubmitArticle {
    text-align: unset;
    font-size: 5rem;
    font-weight: 450;
    margin-top: 2rem;
    line-height: 5.5rem;
    hyphens: auto;
  }
  .containerTextS2 {
    height: fit-content;
  }
  .containerPicture {
    width: 100%;
    height: unset;
  }
  .containerText {
    width: unset;
  }
  /* .rightArticle {
    grid-column: 7 / span 2 !important;
    position: relative;
  }
  .firstArticle {
    grid-row: 1 !important;
  }
  .secondArticle {
    grid-row: 2 !important;
    padding-bottom: 25% !important;
    margin-top: 25%;
  }
  .articleCollectionCentered > a:after {
    content: " ";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.15);
    display: block;
    top: 0;
    right: -16px;
    left: auto;
    bottom: auto;
    width: 1px;
    height: 100%;
  } */
  .SecondPageArticleLists {
    width: 75%;
  }
  .titleSections {
    border-bottom: unset;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.5);
  }
  /*              ARTICLE               */

  .col-6-row-3-1300 {
    min-width: 740px;
    display: grid;
    grid-template-columns: repeat(6, 7.3rem);
    grid-template-rows: repeat(3, auto) 1fr;
    column-gap: 6rem;
    row-gap: var(--column6-gap-row-1300);
  }

  .altroIcon {
    height: 100%;
    scale: 4;
  }
  .altroIconSticky {
    scale: 2;
  }
  .containerTitleArticle {
    grid-row: 2;
    grid-column: 1/-1;
  }
  #titleArticle {
    font-size: var(--fontSizeH1Article-1300);
    line-height: 5rem;
  }
  .authorArticleName {
    font-size: var(--fontSizeP-1300);
    font-weight: bold;
  }
  .paragraphArticle > p:first-child::first-letter {
    font-size: 10rem;
    float: left;
    margin-right: 2rem;
    position: relative;
    color: #ba2525;
    padding-top: 0.9rem;
  }
}

/*--------------- 960px ------------------*/
@media (min-width: 960px) {
  /*------------NAV--
  ------------------------*/
  h2 {
    font-size: 2rem;
    font-weight: 550;
    line-height: 2.5rem;
  }
  .form-groupHeader {
    margin-left: 85%;
    margin-right: 10rem;
  }
  .buttonSignUp,
  .buttonLogout {
    width: 10rem;
    font-size: 2rem;
  }
  .logo-image {
    width: 20rem;
  }

  ul {
    width: 75%;
  }
  .nav__items {
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 2.8rem;
  }
  /* HOMEPAGE */
  .col-8-1300 {
    min-width: 960px;
    grid-template-columns: repeat(8, 7.2rem);
    grid-template-rows: repeat(2, auto);
    column-gap: 5.48rem;
  }
  .col-4 {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
  }
  .homePageParagraph {
    line-height: 2.5rem;
  }
  /*  ARTICLES PAGE */
  .col-6-row-3-1300 {
    min-width: 960px;
    display: grid;
    grid-template-columns: repeat(6, 9.6rem);
    grid-template-rows: repeat(3, auto) 1fr;
    column-gap: 7.68rem;
    row-gap: var(--column6-gap-row-1300);
  }
  .containerArticle {
    grid-column: 2/ -2;
    grid-row: 4;
  }
  .containerPictureArticle {
    grid-column: 2/-2;
    grid-row: 2 / span 2;
  }
  .containerAuthorArticle {
    grid-row: 4;
    grid-column: 1;
  }
  .containerCategoryArticle {
    grid-row: 2;
    grid-column: 1;
  }

  .containerTitleArticle {
    grid-row: 1;
    grid-column: 2/-2;
  }
  .buttonsAccept,
  .buttonsAcceptArticle {
    align-items: center;
  }
  .buttonsAcceptArticle {
    grid-column: 2;
  }
}

/* ----------- 1300 --------------- px */
@media (min-width: 1300px) {
  .col-8-1300 {
    min-width: 1300px;
    grid-template-columns: repeat(8, var(--column8-column-1300));
    grid-template-rows: repeat(2, min-content);
    column-gap: var(--column8-gap-column-1300);
    row-gap: var(--column8-gap-row-1300);
  }
  .col-4 {
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 3rem;
  }
  .borderLeftColumn {
    margin-right: -3.315rem;
  }
  /* .headArticle {
    grid-column: 3/-3 !important;
    grid-row: 1/ 3 !important;
    width: 100%;
  }
  .secondArticle {
    grid-row: 3;
  } */

  /* .leftArticle:after {
    height: 30rem;
  }
  .rightArticle:after {
    height: 30rem;
  } */
  /* .secondArticle {
    margin-top: 10rem;
    grid-row: 2 !important;
    padding-bottom: 25%;
  } */
  /*  ARTICLES PAGE */

  .col-6-row-3-1300 {
    min-width: 1300px;
    display: grid;
    grid-template-columns: repeat(6, var(--column6-column-1300));
    grid-template-rows: repeat(3, auto) 1fr;
    column-gap: var(--column6-gap-column-1300);
    row-gap: var(--column6-gap-row-1300);
  }
  .containerArticle {
    grid-column: 2/ -2;
  }
}
