/* reset */

:root {
  --backgroundMain: #fffaf1;
  /* --backgroundMain: rgb(251, 247, 227); */
  --fontPrimaryColor: #333333;
  /* RED FONTS AND STUFF */
  --colorRedMain: #ba2424;
  --fontSizeHtml: 10px;
  /* DIMENSIONE FONT PARAGRAPH */
  --fontSizeMin-articleHome: 1.8rem;
  --fontSizeMax-articleHome: 2rem;
  --fontSizeMax-articleHomeArticle: 2.2rem;
  --fontSizeMax-articleHomeMain: 2.5rem;
  /* LINE HEIGHTS  */
  --lineHeightMain-1300: 1.2;
  --lineHeight-1300: 1.2;
  /* MARGIN BETWEEN H2 AND PARAGRAPHS */
  --margin-Ph2-1300: 1rem;
  --margin-Ph2-1300Main: 2rem;
  /* H2 */
  /* TITLES H1 */

  /* TITLE H2 */
  /* COLONNE POSTS SECTION AUTO; */
  --column-postsMax-1300: 40rem;
  /* MARGINS */
  --margin-section: 4rem;
  --margin-sectionMobile: 4rem;
  /* CAPTIONS */
  --captions-subtitles-1300: 2rem;
  /* TO DEFINE */
  --fontSizeH2Subheading-1300: 1.8rem;
  --lineHeightTitle-1300: 1.2;
  --fontSizeP-1300: 2rem;
  --navFontSize-1300: 2.2rem;
  --borderRadius-1300: 1rem;
  --marginPageSection-1300: 20rem;
  --column8-gap-column-1300: 6.63rem;
  --column8-gap-row-1300: 0.5rem;
  --column8-column-1300: 10.4rem;
  --column6-column-1300: 20rem;
  --column6-row-1300: 20rem;
  --column6-gap-column-1300: 2rem;
  --column6-gap-row-1300: 1.5rem;
  --oldBackgroundColor: #f7efe8;
  /*400-480*/

  --font-size-h1-sm: 3.6rem;
  --font-size-h2-sm: 2rem;
  --font-size-p-sm: 2rem;
  --font-size-em-sm: 1.8rem;
  --line-height-h2-Article-sm: 1;
  --line-height-h1-article-sm: 1;
  --font-size-p-home-sm: 2.4rem;

  --font-size-h2-home-sm: 2rem;
  --font-size-h1-home-sm: 3.6rem;
  --font-size-sections-sm: 4rem;
  --font-size-h1-home-sm: 3.6rem;
  --font-size-h1-home-md: 3.6rem;
  --font-size-h2-home-md: 2.4rem;
  --font-size-p-home-md: 2.4rem;
  --font-size-h2-home-lg: 2.4rem;
  --titleSection--h1-1300: 4.8rem;
  --font-size-h1-home-lg: 4.8rem;
  --fontSizeH1Article-1300: 4.8rem;
  --font-size-p-artcle-md: 2.2rem;
  --font-size-h1-article-md: 3.4rem;
}
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}
body {
  line-height: 1.5;
  min-height: 100vh;
}
/* make images easy */
h1,
h2 {
  color: #363737;
  font-weight: 600;
}
img,
picture {
  max-width: 100%;
  display: block;
}
/* make forms easier */

input,
button,
textarea,
select {
  font: inherit;
}
html {
  font-size: var(--fontSizeHtml);
  background-color: var(--backgroundMain);
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: normal;
}
::selection {
  background: #ffe135;
  color: inherit;
}
.paragraphArticle p:last-child:after {
  content: "\25C6";
  font-size: 0.8em;
  color: #ba2424; /* Colore personalizzabile */
}
/* remove animationfor people who've turned them off */
@media (prefers-reduce-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01 ms !important;
    scroll-behavior: auto !important;
  }
}
/* _____________________________ */
/*       UTILITY CLASSES         */
/* _____________________________ */
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #a4b9f3;
}
.garamond {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
.flex-row {
  flex-direction: row;
}
.container {
  padding-inline: 2em;
  max-width: 80rem;
  margin-inline: auto;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/*****************/
/* LAYOUT DESIGN *

/****************/
.nav__linksModal {
  flex-direction: column;
  width: 100%;
}
.nav__itemsModal {
  font-size: 2.5rem;
}
.modalWrapper {
  display: none;
  height: 40vh;
  position: fixed;
  z-index: 9;
  top: 0;
  background-color: var(--backgroundMain);
  width: 100vw;
  display: none;
  align-items: center;
  justify-content: center;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}
#menuToggle {
  display: none;
  /* margin-right: 90%; */
  position: relative;
  list-style-type: none; /* Rimuove il pallino */

  z-index: 1;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #b78483;

  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition:
    transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    opacity 0.55s ease;
}
.hideMenu {
  opacity: 0;
  display: none;
}
.showModal {
  opacity: 1;
  display: block;
}
.burgerMenuWrapper {
  width: 100%;
  display: none;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.close-btn:before,
.close-btn:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 2px;
  background-color: black;
}

.close-btn:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close-btn:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
header {
  height: fit-content;
  grid-column: 3/ -3;
  width: 100%;
  /* border-bottom: solid 0.1rem; */
}
.col-8-1300 {
  grid-template-columns: repeat(8, 5rem);
  grid-template-rows: repeat(3, min-content);
  column-gap: 7rem;
  row-gap: var(--column8-gap-row-1300);
}
.col-6-row-3-1300 {
  display: grid;
  grid-template-columns: repeat(6, 10.6%);
  grid-template-rows: repeat(3, minmax(0, min-content)) 1fr;
  column-gap: 7.28%;
  row-gap: var(--column6-gap-row-1300);
  /* padding-top: 5rem; */
  /* padding-left: 2rem;
  
  padding-right: 2rem; */
  width: 100%;
}
a {
  text-decoration: none;
  color: unset;
}
.Home {
  display: flex;
}

.altroIcon {
  height: 120%;
}
/* .Home img {
  border-radius: 2rem;
} */
.mainContent a {
  text-decoration: none;
  color: unset;
}
.mainContent a h1:hover {
  text-decoration: underline;
}
.mainContent a h2:hover {
  text-decoration: underline;
}

.col-12 {
  grid-template-columns:
    minmax(min-content, 1fr) repeat(auto-fit, minmax(10px, 1fr))
    minmax(min-content, 1fr);
}
.website {
  width: 100%;
}
.container {
  width: 100%;
  height: 10rem;
}
h2 {
  font-size: var(--font-size-h2-home-sm);
  line-height: 1.2;
}
.containerText > h2 {
  text-transform: capitalize;
}
/* CSS FOR WEBSITE */

.siteWrapper {
  min-height: 100vh;
  column-gap: 2rem;
}

.articleSections {
  height: inherit;
}

/*----------------/
/*------NAV------*/
/*-------------- */

header {
  z-index: 10;
}
.headerWrapper {
  padding-top: 6%;
  padding-bottom: 6%;
  justify-content: space-evenly;
  width: 100%;
  display: flex;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}
.headerBorder {
  align-items: center;
  width: 100%;
}
.headerContent {
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.contentWrapperNav {
  align-self: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}
.contentWrapperLogo {
  display: inline-flex;
  align-self: center;
}
ul {
  list-style-type: none; /* Rimuove il pallino */
  padding: 0; /* Opzionale: rimuove il padding sinistro */
  margin: 0; /* Opzionale: rimuove il margine */
}

.nav__items {
  font-size: 2.2rem;
  color: #333;
  align-self: center;
  background-color: var(--backgroundMain);
  z-index: 3;
  display: flex;
  justify-content: center;
  font-style: italic;
  position: relative;
}
.nav__items a:hover {
  text-decoration: underline;
  color: inherit;
}
ul {
  padding: 0;
  display: flex;
  align-items: center;
  width: 75%;
  justify-content: space-between;
  flex-direction: row;
}
.navWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
nav {
  /* display: inline-flex; */
  justify-content: center;
  width: 100%;
}
.nav__link {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
}
.isActivated {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--colorRedMain);
}
.smallScreen {
  display: none;
}
.sticky {
  position: fixed;
  background-color: var(--backgroundMain);
  z-index: 5;
  padding: 3% 12.5% 3% 12.5%;
  top: 0%;
  opacity: 0.9;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.5);
  width: 75%;
}
.navToStylize {
  transition: transform 1s ease-in; /* Transizione per la proprietà transform */
}

.navToStylize.sticky {
  transform: translateY(0); /* Appare nella posizione sticky */
}

/* .prettyLine {
  position: absolute;
  height: 0.2rem;
  background-color: var(--colorRedMain);
  width: 0%;
  top: 50%;
  opacity: 0.5;
} */
.logo-image {
  width: 100%;
  height: 2rem;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  align-items: center;
  z-index: 6;
  position: relative;
  background-color: var(--backgroundMain);
  justify-content: center;
  scale: 1.8;
}
.isActivated::before {
  content: "";
  background-image: url("/img/fleuronLateralLeft-01.png");
  background-size: cover;
  background-position: center;
  width: 45px;
  height: 18px;
  opacity: 0.5;
  margin-right: 1rem;
}
.isActivated::after {
  content: "";
  background-image: url("/img/fleuronLateralLeft-01.png");
  background-size: cover;
  background-position: center;
  width: 45px;
  height: 18px;
  opacity: 0.5;
  margin-left: 1rem;
  transform: rotate3d(0, 1, 0, -180deg);
}
/*----------------/
                                                    /*------GLOBAL CLASSES------*/
/*-------------- */
section {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 100vw;
}
.titleSections {
  font-size: var(--font-size-sections-sm);
  font-weight: 600;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
  color: var(--colorRedMain);
}
.contentInnerWrapper {
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin-top: var(--margin-sectionMobile);
}
.titleArticleCollection {
  align-self: start !important;
}
.marginControl {
  /* align-items: center !important; */
  width: 100%;
  /* border-top: 0.1rem solid; */
  /* padding-top: 5rem; */
  /* justify-content: center !important; */
  flex-direction: column;
}
/* .head .containerText .homePageParagraph::after {
  content: "";
  background-image: url("/img/fleuronsHomeArticleRed-02.png");
  background-size: cover;
  background-position: center;
  width: 3rem;
  height: 2rem;
  display: block;
  margin: 3rem auto 0; /* Margine sopra per distanziarlo dal paragrafo */
/* opacity: 0.5; */

/* .titleSections::after {
  content: "";
  background-image: url("/img/fleuronsTitleArticleRed-02.png");
  background-size: cover;
  background-position: center;
  width: 7rem;
  height: 2.8rem;
  display: inline-block;
  margin-left: 1rem;
  /* opacity: 0.5; */
/* transform: rotate3d(0, 1, 0, -180deg);
} */
.logo-image::before {
  content: "";
  background-image: url("/img/fleuronLateralLeft-01.png");
  background-size: cover;
  background-position: center;
  width: 38px;
  height: 14px;
  opacity: 0.5;
}
.logo-image::after {
  content: "";
  background-image: url("/img/fleuronLateralLeft-01.png");
  background-size: cover;
  background-position: center;
  width: 38px;
  height: 14px;
  opacity: 0.5;
  transform: rotate3d(0, 1, 0, -180deg);
}
/* .containerArticle::after {
  content: "";
  background-image: url("/img/fleuronsArticleRed-02-02.png");
  background-size: cover;
  background-position: center;
  width: 6rem;
  height: 6rem;
  display: block;
  margin: 5rem auto 0; /* Margine sopra per distanziarlo dal paragrafo */
/* opacity: 0.5; 
} */

.form-groupHeader {
  top: 4.5rem;
  position: absolute;
  margin-left: 75%;
  width: fit-content;
  margin-right: 10rem;
}
.buttonSignUp,
.buttonLogout {
  height: 4rem;
  width: 7rem;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 1.7rem;
}

/*--------------------------*/
/*    MAIN PAGE ARTICLE     */
/*--------------------------*/
.mainContent {
  border-width: 120%;
  display: flex;
  flex-direction: column;
}
.col-8-1300 {
  grid-template-columns: 0px repeat(3, minmax(0, 1fr)) 0px;
  grid-template-rows: 1fr repeat(4, min-content);
  column-gap: 10px;
  row-gap: 3rem;
}
.headArticle {
  grid-column: 2/6;
  grid-row: 1;
  margin-bottom: calc(0.8rem + 1vh);
  width: 100%;
}
.sideArticle {
  justify-content: space-between;
}

.containerText {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-self: center;
}
.head > .containerText {
  padding: 0rem 2rem 0 2rem;
  text-align: center;
}
.containerTextS2 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.containerTextS2 > h2 {
  align-self: start;
}
.homePageParagraph {
  font-size: var(--font-size-p-home-sm);
  font-weight: lighter;
  line-height: var(--lineHeight-1300);
  margin-top: 1rem;
  color: #444;
}
.containerPicture {
  width: 90%;
  margin-bottom: 1rem;
  height: fit-content;
}

.pictureInsideText {
  padding: 30%;
  position: relative;
}
.pictureInsideText > * {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.pictureInsideLateral {
  padding: 30%;
  position: relative;
}
.pictureInsideLateral > * {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
/*--------------------------*/
/*    SECOND SECTION START   */
/*--------------------------*/
.SecondPageArticleLists {
  justify-content: center;
  align-items: center;
  width: 90%;
}
.sideArticle {
  display: flex;
}
.containerArticleCollection {
  position: relative;
  flex-direction: row-reverse;
}
aside {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sideArticle:nth-of-type(1):before {
  content: " ";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
  left: 0;
  bottom: -20px;
  right: auto;
  top: auto;
  height: 1px;
  width: 100%;
}

*:focus-visible {
  outline: var(--colorRedMain); /* Rimuove l'outline predefinito */
  outline-offset: 1rem;
  box-shadow:
    0 0 2px var(--colorRedMain),
    0 0 4px var(--colorRedMain),
    0 0 6px var(--colorRedMain),
    0 0 8px var(--colorRedMain);
  transition: box-shadow 0.3s ease;
}

.articleCollectionCentered {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.articleCollectionCentered a {
  color: unset;
  text-decoration: none;
  margin-bottom: 3rem;
  height: 100%;
  position: relative;
}
.articleCollectionCentered a h2:hover {
  text-decoration: underline;
}
.containerPictureSecondSectionHome {
  width: 50%;
}
.pictureInsideSecondSection {
  position: relative;
  padding: 30%;
}
.pictureInsideSecondSection > * {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

/*-------------------------*/
/*         FOOTER          */
/*-------------------------*/

footer {
  font-size: var(--font-size-p-sm);
  background-color: #333;
  color: #fff;
  position: relative;
  margin-top: 3rem;
}
.footer-wrapper {
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 2rem 0rem 2rem 0rem;
}
.content-footer {
  height: 10rem;
  flex-direction: column;
  width: 80%;
  padding-left: 10rem;
  font-size: var(--font-size-p-sm);
  font-weight: bolder;
}
/*-----------------------*/
/*       FORMS           */
/*-----------------------*/
.form-group {
  margin-bottom: 2rem;
}
.titleSubmitArticle {
  font-size: var(--font-size-h1-home-sm);
  font-weight: 600;
  margin-top: 2rem;
  line-height: 1.2;
  hyphens: auto;
}
input {
  width: 100%;
  height: calc(var(--fontSizeP-1300)+var(--lineHeight-1300));
  font-size: var(--fontSizeP-1300);
  border-radius: var(--borderRadius-1300);
}
#newArticle {
  width: 100%;
}
.editArticle {
  width: 100%;
}
label {
  font-size: var(--fontSizeP-1300);
  font-weight: bold;
}
select {
  height: calc(var(--fontSizeP-1300)+var(--lineHeight-1300));
  font-size: var(--fontSizeP-1300);
  display: block;
  width: fit-content;
  background-color: white;
  border-radius: var(--borderRadius-1300);
}
input:focus,
#article:focus,
#summary:focus {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  outline: black;
}
option:hover {
  background-color: grey;
}
#article {
  width: 100%;
  height: 30rem;
  overflow: scroll;
  font-size: var(--fontSizeP-1300);
  border-radius: 1rem;
}
#summary {
  width: 100%;
  height: 10rem;
  font-size: var(--fontSizeP-1300);
  border-radius: 1rem;
}
.buttonArticle {
  display: block;
  font-size: var(--fontSizeP-1300);
  height: calc(var(--fontSizeP-1300)+var(--lineHeight-1300));
}
.buttonsAccept,
.buttonsAcceptArticle {
  align-items: center;
}
.buttonsAcceptArticle {
  grid-column: 2/-3;
  grid-row: 8;
}
.buttonArticle {
  width: 20rem;
  background-color: black;
  color: white;
  margin-bottom: 1rem;
  text-align: center;
}
#deleteLink {
  font-size: var(--fontSizeP-1300);
  border: solid;
  border-width: 0.2rem;
  border-color: var(--colorRedMain);

  width: 20rem;
  text-align: center;
  background-color: white;
}
/*-----------------------*/
/*       ARTICLES        */
/*-----------------------*/
.contentArticleWrapper {
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  /* border-top: .2rem solid rgba(0, 0, 0, 0.2); */
  margin-top: var(--margin-section);
}
.contentArticleWrapper:after {
  content: "";
  position: absolute;
  top: 0;
  height: 0.1rem;
  width: 65%;
  color: rgba(0, 0, 0, 0.2);
}
.containerTitleArticle {
  margin-top: 1rem;
  grid-column: 1/-1;
  /* grid-row: 2; */
  grid-row: 4;
  align-self: center;
  padding: 0 2rem 0 2rem;
  hyphens: auto;
}

.containerPictureArticle {
  grid-column: 1/-1;
  grid-row: 2 / span 2;
  width: 100%;
}
.pictureInsideArticle {
  position: relative;
  padding: 30%;
}
.pictureInsideArticle > * {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.containerCategoryArticle {
  grid-row: 1;
  grid-column: 1/-1;
  font-size: var(--font-size-em-sm);
  font-weight: bold;
  color: var(--colorRedMain);
  height: fit-content;
  /* border-bottom: 0.1rem solid; */
  width: 80%;
  padding: 0 2rem 0 2rem;
}
.containerAuthorArticle {
  grid-row: 5;
  grid-column: 1/-1;
  margin: 0 2rem 2rem 2rem;
  padding-bottom: 1rem;
  border-bottom: solid 0.1rem var(--colorRedMain);
}
.articleCreatedAt {
  font-size: var(--font-size-em-sm);
  font-weight: bold;
}
#titleArticle {
  font-size: var(--font-size-h1-sm);
  color: black;
  font-weight: 600;
  line-height: var(--line-height-h1-article-sm);
  color: #363737;
}
#subheadingArticle {
  font-size: var(--font-size-h2-sm);
  line-height: var(--line-height-h2-Article-sm);
  margin-top: 1.2rem;
  opacity: 0.8;
}
.containerArticle {
  grid-row: 6;
  grid-column: 1/ -1;

  font-size: var(--font-size-p-sm);
  margin-bottom: 5rem;
  padding: 0 2rem 0 2rem;
}
.paragraphArticle {
  margin-bottom: 1.5rem;
  hyphens: auto;
  line-height: 2.8rem;
  font-weight: normal;
}
.paragraphArticle > p {
  margin-bottom: 1.5rem;
}
.paragraphArticle > p:first-child::first-letter {
  font-size: 15.4rem;
  float: left;
  margin-right: 1rem;
  position: relative;
  color: var(--colorRedMain);
  font-weight: bold;
  line-height: 0.8;
  font-family: inherit;
  /* display: inline-block; */
  text-transform: uppercase;
  padding: 0.02em 0.05em;
}
.paragraphArticle > h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: var(--colorRedMain);
}
.authorArticleName {
  font-size: var(--font-size-em-sm);
  font-weight: bold;
  color: var(--colorRedMain);
  width: 80%;
}
/*-----------------------*/
/*       LOGIN FORM        */
/*-----------------------*/

.login-form {
  margin: 0 auto;
  max-width: 55rem;
  background-color: #fff;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  padding: 5rem 7rem;
  border-radius: 5px;
  z-index: 10;
}

/*---------------------------------------------------------*/
/*////////////---------MEDIA QUERIES---------/////////////*/
/*-------------------------------------------------------*/

/*---------------- 480 ---------------*/
@media (min-width: 480px) {
  .col-8-1300 {
    min-width: 480px;
    grid-template-columns: 0px repeat(3, minmax(0, 1fr)) 0px;
    grid-template-rows: 1fr repeat(4, min-content);
    column-gap: 10px;
  }
  .headArticle {
    grid-column: 2/6;
    grid-row: 1;
  }
  .smallScreen {
    display: none;
  }
  .sideArticle {
    display: flex;
    flex-direction: row;
  }
  /* ARTICLES */
  .containerTitleArticle {
    grid-row: 1;
    grid-column: 1/-1;
  }
  .col-6-row-3-1300 {
    min-width: 480px;
    display: grid;
    grid-template-columns: repeat(6, 4.8rem);
    grid-template-rows: repeat(3, auto) 1fr;
    column-gap: 3.84rem;
    row-gap: var(--column6-gap-row-1300);
    width: unset;
  }
  .containerTitleArticle {
    grid-row: 2;
  }
  .containerArticle {
    grid-column: 1/ -1;
    grid-row: 6;
  }
  .containerAuthorArticle {
    grid-row: 5;
    grid-column: 1/ -1;
  }
  .containerPictureArticle {
    grid-column: 1/-1;
    grid-row: 3 / span 2;
  }
  .buttonsAcceptArticle {
    grid-column: 2/-3;
    grid-row: 8;
  }
}

@media (min-width: 600px) {
  .altroIcon {
    height: 150%;
  }
  .logo-image::before {
    width: 45px;
    height: 18px;
  }
  .logo-image::after {
    width: 45px;
    height: 18px;
  }
  .col-8-1300 {
    min-width: 560px;
    grid-template-columns: repeat(8, 4.2rem);
    grid-template-rows: repeat(2, auto);
    column-gap: 3.8rem;
    row-gap: unset;
    display: grid;
  }

  .borderLeftColumn {
    grid-column: 5;
    grid-row: 1/ 3;
    height: 98%;
    border-right: 0.1rem solid rgba(0, 0, 0, 0.2);
    margin-right: -2.8rem;
  }

  .headArticle {
    grid-column: 1/-4 !important;
    grid-row: 1/ 3 !important;
    margin-bottom: unset;
  }

  .articleUno {
    grid-column: 6/ -1;
    grid-row: 1;
  }
  .articleDue {
    grid-column: 6/ -1;
    grid-row: 2;
  }
  /* h2{
    font-size: var(--font-size-h2-home-md);
  } */
  .smallScreen {
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
  }

  .grid {
    display: grid;
  }
  .col-4 {
    grid-template-columns: repeat(12, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); */
    gap: 3rem;
  }
  .articleCollectionCentered a {
    grid-column: span 6;
  }
  .flex-column {
    flex-direction: column;
  }
  .logoSmallScreen {
    align-self: center;
    list-style: none;
    margin-bottom: 5%;
  }
  .titleSections {
    font-size: 4rem;
  }
  .ulSmall {
    width: 75%;
    position: relative;
    margin-top: 0%;
    justify-content: space-around;
  }
  .navItemsSmall {
    font-size: 2.2rem;
  }
  ul {
    width: 90%;
  }
  .logo-image::before {
    content: unset;
  }
  .logo-image::after {
    content: unset;
  }
  .sticky {
    position: fixed !important;
  }
  .altroIcon {
    scale: 2;
  }
  /* .prettyLine {
    width: 90%;
  } */
  .SecondPageArticleLists {
    width: 95%;
  }
  .headerWrapper {
    padding-top: 3%;
    padding-bottom: 3%;
  }
  .logo-image {
    scale: unset;
  }
.articleCollectionCentered > a:nth-child(odd)::after{
  
  content: " ";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.15);
  display: block;
  top: 0;
  right: -16px;
  width: 1px;
  height: 95%;
}
/* .articleCollectionCentered > a:nth-child(odd) .containerArticleCollection::after {
} */


  .containerPictureSecondSectionHome {
    width: 100%;
  }
  .Articles {
    display: flex;
    flex-direction: column;
  }
  .smallScreen {
    display: none;
  }
}
/*--------------- 740px ------------------*/

@media (min-width: 800px) {
  h2 {
    font-size: var(--font-size-h2-home-md);
  }
  #subheadingArticle {
    font-size: var(--font-size-p-artcle-md);
  }
  .homePageParagraph {
    line-height: var(--lineHeight-1300);
    font-size: var(--font-size-p-home-md);
  }
  #titleArticle {
    font-size: var(--font-size-h1-article-md);
  }
  .titleSubmitArticle {
    text-align: center;
    font-size: var(--font-size-h1-home-md);
  }
  .smallScreen {
    flex-direction: column;
    align-items: center;

    align-self: center;
    list-style: none;
  }
  .grid {
    display: grid;
  }
  .col-4 {
    /* grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); */
    gap: 3rem;
  }
  .flex-column {
    flex-direction: column;
  }
  .navItemsSmall {
    font-size: 2.2rem;
  }
  aside {
    display: unset;
  }
  .logo-image {
    width: 20rem;
  }
  ul {
    width: 90%;
  }
  .containerArticle {
    font-size: var(--font-size-p-artcle-md);
  }
  .form-groupHeader {
    margin-left: 90%;
  }
  .mainContent {
    display: grid;
  }
  /* .prettyLine {
    width: 90%;
  } */
  .mainContent > * {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .contentInnerWrapper {
    width: 100%;
  }
  .col-8-1300 {
    min-width: 740px;
    grid-template-columns: repeat(8, 5.5rem);
    grid-template-rows: repeat(2, auto);
    column-gap: 5rem;
    row-gap: unset;
  }
  .borderLeftColumn {
    grid-column: 5;
    grid-row: 1/ 3;
    height: 98%;
    border-right: 0.1rem solid rgba(0, 0, 0, 0.2);
    margin-right: -2.8rem;
  }

  .headArticle {
    grid-column: 1/-4 !important;
    grid-row: 1/ 3 !important;
    margin-bottom: unset;
  }

  .articleUno {
    grid-column: 6/ -1;
    grid-row: 1;
  }
  .articleDue {
    grid-column: 6/ -1;
    grid-row: 2;
  }
  .titleSubmitArticle {
    text-align: unset;
    margin-top: 2rem;
    hyphens: auto;
  }
  .containerTextS2 {
    height: fit-content;
  }
  .containerPicture {
    width: 100%;
    height: unset;
  }
  .containerText {
    width: unset;
  }
  .articleCollectionCentered {
    display: grid;
  }
  .containerArticle::after {
    width: 8rem;
    height: 8rem;
  }
  .titleSections {
    border-top: unset;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: clip;
    font-size: 5rem;
  }
  .titleSections::after {
    width: 9.9rem;
    height: 3.8rem;
  }
  .nav__items {
    width: 13rem;
  }
  /*              ARTICLE               */

  .col-6-row-3-1300 {
    min-width: 740px;
    display: grid;
    grid-template-columns: repeat(6, 7.3rem);
    grid-template-rows: repeat(3, auto) 1fr;
    column-gap: 6rem;
    row-gap: var(--column6-gap-row-1300);
  }
  #subheadingArticle {
    line-height: var(--lineHeight-1300);
  }
  .paragraphArticle {
    line-height: 1.2;
  }

  .altroIconSticky {
    scale: 2;
  }
  .containerTitleArticle {
    grid-row: 2;
    grid-column: 1/-1;
  }
  #titleArticle {
    margin-bottom: calc(var(--margin-section) / 4);
  }
  .authorArticleName {
    font-weight: bold;
  }
  .paragraphArticle > p:first-child::first-letter {
    font-size: 17.6rem;
  }
}

/*--------------- 960px ------------------*/
@media (min-width: 960px) {
  /*------------NAV--
  ------------------------*/
  .form-groupHeader {
    margin-left: 85%;
    margin-right: 10rem;
  }
  .buttonSignUp,
  .buttonLogout {
    width: 10rem;
    font-size: 2rem;
  }
  .logo-image {
    width: 20rem;
  }
  /* .prettyLine {
    width: 90%;
  } */

  nav {
    width: 75%;
  }
  ul {
    width: 100%;
  }
  .nav__items {
    font-size: 2rem;
  }
  /* HOMEPAGE */
  .col-8-1300 {
    min-width: 960px;
    grid-template-columns: repeat(8, 7.2rem);
    grid-template-rows: repeat(2, auto);
    column-gap: 5.48rem;
  }
  .col-4 {
    /* grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); */
    gap: 3rem;
  }
  .articleCollectionCentered a {
    grid-column: span 4;
  }
  
.articleCollectionCentered > a:nth-child(odd) .containerArticleCollection::after {
content: none;
}
  
  .articleCollectionCentered > a:nth-child(3n+1)::after,
  .articleCollectionCentered > a:nth-child(3n+2)::after {
    content: " ";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.15);
    display: block;
    top: 0;
    right: -16px;
    width: 1px;
    height: 95%;
  }

  /* Rimuove il bordo per il terzo articolo di ogni riga */
  .articleCollectionCentered > a:nth-child(3n)::after {
    content: none;
  }
  .homePageParagraph {
    line-height: 2.5rem;
  }
  .containerArticle {
    border-left: 0.1rem solid;
    padding-left: 2rem;
  }
}

/* ----------- 1300 --------------- px */
@media (min-width: 1300px) {
  h2 {
    font-size: var(--font-size-h2-home-lg);
  }
  .contentInnerWrapper {
    margin-top: 6rem;
  }
  .paragraphArticle > p:first-child::first-letter {
    font-size: 17.6rem;
    line-height: 0.7;
  }
  .mainContent .headArticle .homePageParagraph {
    font-size: var(--fontSizeMax-articleHomeMain);
    line-height: var(--lineHeightMain-1300);
    text-align: center;
    margin-top: var(--margin-Ph2-1300Main);
  }
  .titleSections {
    font-size: var(--titleSection--h1-1300);
  }
  .marginControl {
    margin-top: var(--margin-section);

    padding-top: unset;
  }
  ul {
    width: 100%;
  }
  .nav__items {
    font-size: 2.4rem;
    width: 18rem;
    display: flex;
    justify-content: center;
  }
  /* .prettyLine {
    width: 75%;
  } */
  .altroIcon {
    scale: 2.5;
  }
  .col-8-1300 {
    min-width: 1300px;
    grid-template-columns: repeat(8, var(--column8-column-1300));
    grid-template-rows: repeat(2, min-content);
    column-gap: var(--column8-gap-column-1300);
    row-gap: var(--column8-gap-row-1300);
  }
  .col-4 {
    /* grid-template-columns: repeat(
      auto-fit,
      minmax(var(--column-postsMax-1300), 1fr)
    ); */

    gap: 3rem;
  }
  .borderLeftColumn {
    margin-right: -3.315rem;
  }
  .col-6-row-3-1300 {
    min-width: 1300px;
    display: grid;
    grid-template-columns: repeat(6, var(--column6-column-1300));
    grid-template-rows: repeat(3, auto) 1fr;
    column-gap: var(--column6-gap-column-1300);
    row-gap: var(--column6-gap-row-1300);
  }
  .titleSections::after {
    width: 10rem;
    height: 4rem;
  }
  .titleArticleCollection {
    margin-bottom: var(--margin-Ph2-1300);
  }
  .containerAuthorArticle {
    border-bottom: unset;
    padding: 0 2rem 2rem 2rem;
    margin: unset;
  }
  .containerArticleCollection {
    margin-left: 2rem;
  }
  .containerArticleCollection .containerArticle {
    grid-column: 2/ -2;
    font-size: var(--fontSizeMax-articleHomeArticle);
  }
  .paragraphArticle p {
    margin-bottom: 1.5rem;
  }
  .head .containerText .homePageParagraph::after {
    width: 8rem;
    height: 5rem;
  }
  .paragraphArticle {
    line-height: 1.2;
  }
  .contentArticleWrapper {
    margin-top: var(--margin-section);
  }
  .containerCategoryArticle {
    font-size: 2rem;
  }
  .containerArticle {
    grid-column: 2/ -2;
    grid-row: 4;
  }
  .containerPictureArticle {
    grid-column: 2/-2;
    grid-row: 2 / span 2;
  }
  .containerAuthorArticle {
    grid-row: 4;
    grid-column: 1;
  }
  #titleArticle {
    font-size: 3.6rem;
  }
  .containerCategoryArticle {
    grid-row: 2;
    grid-column: 1;
  }

  .containerTitleArticle {
    grid-row: 1;
    grid-column: 2/-2;
    padding: unset;
  }
  .buttonsAccept,
  .buttonsAcceptArticle {
    align-items: center;
  }
  .buttonsAcceptArticle {
    grid-column: 2;
  }
}
